*
!.gitignore
!about/
!about/**
!services/
!services/**
!clients/
!clients/**
!news/
!news/**
!brands/
!brands/**
!site/
!site/**
!who-we-are/
!who-we-are/**
!values/
!values/**
!excellence/
!excellence/**
!mission-vision/
!mission-vision/**
!testimonials/
!testimonials/**
!products/
!products/**
!service-items/
!service-items/**
!contact/
!contact/**
!hero-slides/
!hero-slides/**
